/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/CardList/cardlist.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.cardlist_container__7V8ix{
    flex: 5 1;
}

.cardlist_title__3AcsU{
    margin: 50px 0px;
}

.cardlist_image__CUGUI{
    object-fit: cover;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/pagination/pagination.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.pagination_container__MjtB3{
    display: flex;
    justify-content: space-between;
}

.pagination_button__EHYZp{
    width: 100px;
    border: none;
    padding: 16px;
    background-color: crimson;
    color: white;
    cursor: pointer;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/card/card.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.card_container__xBy9R{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    gap: 50px
}

.card_imageContainer__0rYcM{
    flex: 1 1;
    height: 350px;
    position: relative;
}

.card_textContainer__uD6_C{
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card_date__IWhCo{
    color: gray;
}

.card_category__QmWQb{
    color: crimson;
    font-weight: 500;
}

.card_desc__hMM2S{
    font-size: 18px;
    font-weight: 300;
    color: var(--softTextColor)
}

.card_link__yV43X{
    border-bottom: 1px solid crimson;
    width: max-content;
    padding: 2px 0px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/blog/blogPage.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.blogPage_title__l5rfc{
    background-color: coral;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.blogPage_content__ihTxV{
    display: flex;
    gap: 50px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/components/menu/menu.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.menu_container__jTKJp{
    flex: 2 1;
    margin-top: 60px;
}

.menu_subtitle__J7xJj{
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.menu_title__QQ7Zn{
    font-size: 28px;
}

.menu_items__3fqGC{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 60px;
}

.menu_item__iFOBZ{
    display: flex;
    align-items: center;
    gap: 20px;
}


.menu_imageContainer__2FfB6{
    flex: 1 1;
    aspect-ratio: 1/1;
    position: relative;
}

.menu_image__sMcw9{
    border-radius: 50%;
    border: 3px solid lightgray;
    object-fit: cover;

}

.menu_textContainer__dAWKh{
    flex: 4 1;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.menu_posTitle__ljeAs{
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.menu_detail__olOjz{
    font-size: 12px;
}

.menu_date__OeTnk{
    color: gray;
}

.menu_category__06Qqp{
    padding: 3px 8px;
    border-radius: 10px;
    font-size: small;
    color: white;
    width: max-content;
}

.menu_category__06Qqp.menu_travel__D0vps{
    background-color: #ff7857;

}

.menu_category__06Qqp.menu_culture__HSQnP{
    background-color: #ffb14f;

}
.menu_category__06Qqp.menu_food__MPE7G{
    background-color: #7fb881;

}
.menu_category__06Qqp.menu_fashion__oxnmW{
    background-color: #ff7887;

}
